/* Importar tipografía */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500;800&display=swap');
/* Selector universal */
* {
    margin: 0;
    padding: 0;
}
/* selector de etiqueta */
a {
    margin-left: 30px; 
    color: orange;
}
/* Selector por id */
#option_one, #option_two, #option_trhee {
    color: #ffffff;
}

/* Selector por clases */
.group_options{
    background-color: rgb(100, 100, 62);
    margin-top: 5px;
}
.group_class{
    padding: 10px;
}
/* Selector por pseudoclases */
.group_options:hover{
    background-color: yellow;
    color: orange;
}
/* Selector por atributo */
[disabled]{
    background-color: red;
}
/* selectores descendentes */
#papa{
    border: 10px double red;
    border-radius: 10px;
    margin-right: 100px;
    margin-left: 100px;
    padding: 20px;
    box-shadow: 0px 20px 10px;
}
/* selector adyacente */
#papa > .hermanos + .hermanos{
    color: aqua;
}
/* selector descendente */
#papa a {
    color: blue;
}
/* selector hijo */
#papa > #etiqueta > a{
    color: #a92f4f;
}