/* Importar tipografía */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500;800&display=swap');
/* Selector universal */
* {
    margin: 0;
    padding: 0;
}
/* selector de etiqueta */
a {
    margin-left: 30px; 
    color: orange;
}
/* Selector por id */
#option_one, #option_two, #option_trhee {
    color: #ffffff;
}

/* Selector por clases */
.group_options{
    background-color: rgb(100, 100, 62);
    margin-top: 5px;
}
.group_class{
    padding: 10px;
}
/* Selector por pseudoclases */
.group_options:hover{
    background-color: yellow;
    color: orange;
}
/* Selector por atributo */
[disabled]{
    background-color: red;
}
/* selectores descendentes */
#papa{
    border: 10px double red;
    border-radius: 10px;
    margin-right: 100px;
    margin-left: 100px;
    padding: 20px;
    box-shadow: 0px 20px 10px;
}
/* selector adyacente */
#papa > .hermanos + .hermanos{
    color: aqua;
}
/* selector descendente */
#papa a {
    color: blue;
}
/* selector hijo */
#papa > #etiqueta > a{
    color: #a92f4f;
}
/* TITULO PAR BOX MODEL */
#title_box{
    color: #a92f4f;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aqua;
    text-align: center;
    /* margin-top: 20px; */
    /* margin-bottom: 20px; */
    margin: 20px 0;
    border: 1px dotted #000;
    border-radius: 10px;
    padding-bottom: 30px;
    box-shadow: 0px 0px 10px 1px #008000;
    box-shadow: 0px 0px 10px 1px #ba1fba;
    -webkit-box-shadow: 0px 0px 10px 1px #ba1fba;
    -moz-box-shadow: 0px 0px 10px 1px rgba(186,31,186,1);
    font-size: 40px;
    letter-spacing: 10px;
    word-spacing: 20px;
    text-transform: lowercase;
}

#box_father{
    width: 200px;
    height: 200px;
    background-color: #000;
    background-image: url(https://img.freepik.com/vector-gratis/chico-lindo-jugando-futbol-dibujos-animados-vector-icono-ilustracion-concepto-icono-deporte-personas-aislado-vector-premium-estilo-dibujos-animados-plana_138676-4055.jpg?w=2000);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* #box_model{ */
    /* width: 50%; */
    /* height: 50%; */
    /* background-color: orange; */
    /* margin: 0 auto; */
    /* text-align: center; */
/* } */

/* media querys */
@media (min-width: 800px) and (max-width:1200px){
    body{
        background-color: red;        
    }
    h1{
        text-align: center;
    }
}

@media (max-width: 799px){
    body{
        background-image: url(https://img.freepik.com/vector-gratis/chico-lindo-jugando-futbol-dibujos-animados-vector-icono-ilustracion-concepto-icono-deporte-personas-aislado-vector-premium-estilo-dibujos-animados-plana_138676-4055.jpg?w=2000);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}